/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

header {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 5px;
}

h2 {
    font-size: 1.5em;
    color: #666;
}

.top-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.centered-section {
    flex-basis: 45%;
}

.left-column,
.right-column {
    flex-basis: 45%;
}

section {
    margin-bottom: 20px;
}

h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

h4 {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-break {
    page-break-before: always;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 0.9em;
}
